{% extends 'base.html.twig' %}

{# cette page est la home page, elle doit afficher la liste des Event #}

{% block title %}Event{% endblock %}

{% block body %}


<div>

    {% if app.user %}
    {# on affiche les information de l'utilisateur #}
    <div>   
        <span><strong>Prénom : </strong> {{ app.user.firstname }}</span><br/>
        <span><strong>Noms : </strong> {{ app.user.lastname|upper }}</span>
    </div>
    {% endif %}


    <h1>Liste des Events</h2>
    
    
        {% for event in events %}
        <div>
            <h2>{{ event.name }}</h2>
            <p>{{ event.description }}</h2>
            <a href="{{ path('event', {event: event.id}) }}" >voir event en détail </a>
        </div>
        {% endfor %}
    
</div>
{% endblock %}
